@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Our Blog -->
<section class="our-blog bgc-f7 pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Blog e Artigos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="for_blog feat_property">
                    <div class="thumb">
                        <img class="img-whp" src="images/blog/blog1.jpg" alt="Como negociar o melhor preço com os fornecedores">
                    </div>
                    <div class="details">
                        <div class="tc_content">
                            <p class="text-thm">Dicas</p>
                            <h4>Como negociar o melhor preço com os fornecedores</h4>
                        </div>
                        <div class="fp_footer">
                            <ul class="fp_meta float-left mb0">
                                <li class="list-inline-item"><a href="#"><img src="images/property/pposter2.png" alt="pposter2.png"></a></li>
                                <li class="list-inline-item"><a href="#">Gabriel Martins</a></li>
                            </ul>
                            <a class="fp_pdate float-right" href="#">9 Outubro 2022</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="for_blog feat_property">
                    <div class="thumb">
                        <img class="img-whp" src="images/blog/blog2.jpg" alt="Como se destacar entre os buffets concorrentes">
                    </div>
                    <div class="details">
                        <div class="tc_content">
                            <p class="text-thm">Artigo</p>
                            <h4>Como se destacar entre os buffets concorrentes</h4>
                        </div>
                        <div class="fp_footer">
                            <ul class="fp_meta float-left mb0">
                                <li class="list-inline-item"><a href="#"><img src="images/property/pposter2.png" alt="pposter2.png"></a></li>
                                <li class="list-inline-item"><a href="#">Alan Moore </a></li>
                            </ul>
                            <a class="fp_pdate float-right" href="#">21 Setembro 2022</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="for_blog feat_property">
                    <div class="thumb">
                        <img class="img-whp" src="images/blog/blog3.jpg" alt="5 coisas que seu buffet precisa ter para se destacar">
                    </div>
                    <div class="details">
                        <div class="tc_content">
                            <p class="text-thm">Listas</p>
                            <h4>5 coisas que seu buffet precisa ter para se destacar</h4>
                        </div>
                        <div class="fp_footer">
                            <ul class="fp_meta float-left mb0">
                                <li class="list-inline-item"><a href="#"><img src="images/property/pposter2.png" alt="pposter2.png"></a></li>
                                <li class="list-inline-item"><a href="#">Gabriel Martins</a></li>
                            </ul>
                            <a class="fp_pdate float-right" href="#">11 Setembro 2022</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>