@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}


<!-- Property Cities -->
<section id="best-property" class="best-property bgc-f7">
    <div class="container ovh">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center mb40">
                    <h2>Serviços em destaque</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="best_property_slider style2">
                    <div id="buffet_featured_1" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/buffet_mix/logo_buffet_mix.jpg" alt="Buffet Mix">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:rgb(62, 76, 102)"><a href="#">Buffet</a></li>
                                        <li class="list-inline-item" style="background-color:#ff5a5f"><a href="#">Salão</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">São Paulo</p>
                                    <h4>Buffet Mix</h4>
                                    <p><span class="flaticon-placeholder"></span> SP, São Paulo, Avenida Paulista, 1421</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_2" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/salao_total/salao_total_logo.jpg" alt="Salão Total">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:#ff5a5f"><a href="#">Salão</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">Rio de Janeiro</p>
                                    <h4>Salão Total</h4>
                                    <p><span class="flaticon-placeholder"></span> RJ, Rio de Janeiro, Avenida Brasil, 1000</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_3" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/buffet_felicidade/buffet_felicidade_logo.jpg" alt="Buffet Felicidade">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:rgb(62, 76, 102)"><a href="#">Buffet</a></li>
                                        <li class="list-inline-item" style="background-color:#007bff"><a href="#">Infantil</a></li>
                                        <li class="list-inline-item" style="background-color:#ff5a5f"><a href="#">Salão</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">São Bernardo do Campo</p>
                                    <h4>Buffet Felicidade</h4>
                                    <p><span class="flaticon-placeholder"></span> SP, São Bernardo do Campo, Kennedy, 100</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_4" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/buffet_comidinhas/buffet_comidinhas_logo.jpg" alt="Buffet Comidinhas">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:rgb(62, 76, 102)"><a href="#">Buffet</a></li>
                                        <li class="list-inline-item" style="background-color:#007bff"><a href="#">Infantil</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">Rio de Janeiro</p>
                                    <h4>Buffet Comidinhas</h4>
                                    <p><span class="flaticon-placeholder"></span> RJ, Rio de Janeiro, Copacabana, 250</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_1" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/buffet_mix/logo_buffet_mix.jpg" alt="Buffet Mix">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:rgb(62, 76, 102)"><a href="#">Buffet</a></li>
                                        <li class="list-inline-item" style="background-color:#ff5a5f"><a href="#">Salão</a></li>
                                    </ul>
                                    <ul class="icon mb0">
                                        <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">São Paulo</p>
                                    <h4>Buffet Mix</h4>
                                    <p><span class="flaticon-placeholder"></span> SP, São Paulo, Avenida Paulista, 1421</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_2" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/salao_total/salao_total_logo.jpg" alt="Salão Total">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:#ff5a5f"><a href="#">Salão</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">Rio de Janeiro</p>
                                    <h4>Salão Total</h4>
                                    <p><span class="flaticon-placeholder"></span> RJ, Rio de Janeiro, Avenida Brasil, 1000</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_3" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/buffet_felicidade/buffet_felicidade_logo.jpg" alt="Buffet Felicidade">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:rgb(62, 76, 102)"><a href="#">Buffet</a></li>
                                        <li class="list-inline-item" style="background-color:#007bff"><a href="#">Infantil</a></li>
                                        <li class="list-inline-item" style="background-color:#ff5a5f"><a href="#">Salão</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">São Bernardo do Campo</p>
                                    <h4>Buffet Felicidade</h4>
                                    <p><span class="flaticon-placeholder"></span> SP, São Bernardo do Campo, Kennedy, 100</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buffet_featured_4" class="item">
                        <div class="feat_property">
                            <div class="thumb">
                                <img class="img-whp" src="images/buffets/buffet_comidinhas/buffet_comidinhas_logo.jpg" alt="Buffet Comidinhas">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item" style="background-color:rgb(62, 76, 102)"><a href="#">Buffet</a></li>
                                        <li class="list-inline-item" style="background-color:#007bff"><a href="#">Infantil</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">Rio de Janeiro</p>
                                    <h4>Buffet Comidinhas</h4>
                                    <p><span class="flaticon-placeholder"></span> RJ, Rio de Janeiro, Copacabana, 250</p>
                                </div>
                                <div class="fp_footer">
                                    <div class="search_option_button">
                                        <a asp-action="BuffetPage" asp-controller="Buffets" class="btn btn-block btn-thm">Mais Informações</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
