@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Property Cities -->
<section id="property-city" class="property-city pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Os melhores Buffets em cada cidade</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <a asp-action="Index" asp-controller="Buffets">
                    <div class="properti_city style2">
                        <div class="thumb"><img class="img-fluid w100" src="images/cities/sao_paulo.jpg" alt="São Paulo"></div>
                        <div class="details">
                            <h4>São Paulo</h4>
                            <p>24 Buffets</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <a asp-action="Index" asp-controller="Buffets">
                    <div class="properti_city style2">
                        <div class="thumb"><img class="img-fluid w100" src="images/cities/rio_de_janeiro.jpg" alt="Rio de Janeiro"></div>
                        <div class="details">
                            <h4>Rio de Janeiro</h4>
                            <p>18 Buffets</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <a asp-action="Index" asp-controller="Buffets">
                    <div class="properti_city style2">
                        <div class="thumb"><img class="img-fluid w100" src="images/cities/sao_bernardo_do_campo.jpg" alt="São Bernardo do Campo"></div>
                        <div class="details">
                            <h4>São Bernardo do Campo</h4>
                            <p>6 Buffets</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <a asp-action="Index" asp-controller="Buffets">
                    <div class="properti_city style2">
                        <div class="thumb"><img class="img-fluid w100" src="images/cities/diadema.jpg" alt="Diadema"></div>
                        <div class="details">
                            <h4>Diadema</h4>
                            <p>4 Buffets</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <a asp-action="Index" asp-controller="Buffets">
                    <div class="properti_city style2">
                        <div class="thumb"><img class="img-fluid w100" src="images/cities/brasilia.jpg" alt="Brasilia"></div>
                        <div class="details">
                            <h4>Brasilia</h4>
                            <p>15 Buffets</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4">
                <a asp-action="Index" asp-controller="Buffets">
                    <div class="properti_city style2">
                        <div class="thumb"><img class="img-fluid w100" src="images/cities/maua.jpg" alt="Maua"></div>
                        <div class="details">
                            <h4>Mauá</h4>
                            <p>2 Buffets</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>